<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/output.css" rel="stylesheet">
  <link href="./css/output.css" rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <title><%= title %></title>
   <script src="https://www.google.com/recaptcha/api.js?render=6LdU4G0nAAAAAE1b61LcnLGwJBLuvrjfA2NbYsUR"></script>
</head>
<body class="bg-black">
  <div class="absolute top-0 min-h-screen h-full w-full">
    <img src="./images/star-blob.png" class="relative -top-8 xl:hidden" />
    <img src="./images/d-mini-stars.png" class="fixed -top-8 xl:block hidden w-[60%] object-cover right-0 h-[calc(100vh + 1rem)]" />
    <img src="./images/star.png" class="absolute top-8 xl:block hidden w-[30%] object-cover left-[25%] opacity-40" />
    <img src="./images/mini-stars.png" class="absolute bottom-0 xl:hidden" />
    <img style="height: 110px; bottom: -25%;" src="./images/mini-stars.png" class="relative w-full object-cover xl:hidden" />
  </div>
  <div>
    <div class="flex items-center justify-between relative p-4 xl:w-10/12 xl:mx-auto xl:mt-8">
      <img src="./images/logo-star.png" alt="" class="w-36 object-contain"> 
      <p class="text-[#807B00] bg-[#FFFBD2] text-xs py-1 px-2 rounded-xl lg:hidden">Coming soon</p>
    </div>
  </div>
  <div class="relative flex flex-col items-center w-full pt-12 xl:pt-8 2xl:pt-12 lg:flex-row-reverse lg:w-10/12 lg:mx-auto xl:justify-between animate__animated animate__fadeIn">
    <a href="/" class="absolute left-0 ml-4 mt-28 lg:-ml-16 lg:mt-2 xl:-ml-20">
      <svg width="30" height="43" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.8281 2.84375L2.17188 15.5L14.8281 28.1562" stroke="#DAA520" stroke-width="2.21875" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>        
    </a>
    <img src="./images/hero-2.png" alt="" class="w-[60%] object-contain xl:w-[40%] animate__animated animate__flipInY">
    <div class="pt-5 text-center xl:pl-5 xl:flex-[0.60]">
      <div class="hidden lg:flex items-center gap-x-5 relative mb-5">
        <img src="./images/logo.png" alt="" class="w-36 object-contain"> 
        <p class="text-[#807B00] bg-[#FFFBD2] text-xs py-1 px-2 rounded-xl">Coming soon</p>
      </div>
      <h1 class="text-4xl text-white text-center lg:text-left lg:text-3xl">Get early access!</h1>
      <p class="text-white max-w-[85%] text-center mx-auto text-base mt-2 lg:text-left lg:max-w-[100%] lg:ml-0 font-light">
        Be the First to Experience the Revolution of 
        Freelance with Creedlance:
        Join Our Exclusive Waitlist Today!
        and claim a premium username
      </p>
      <img src="./images/logo.png" alt="" class="w-32 mx-auto mt-10 object-contain lg:hidden">
      <div class="w-11/12 mx-auto mt-8 lg:w-full">
      <form class="form--login" id = "my-demo-form">
        <div class="flex items-center gap-x-4">
          <div class="flex-1">
            <label class="text-sm text-white text-left w-full block mb-1">First name</label>
            <input type="text" id="firstName" class="text-white py-2 px-4 border-[1px] border-white bg-transparent rounded-lg w-full placeholder:text-white placeholder:font-light focus:outline-none" placeholder="First name" required>
          </div>
          <div class="flex-1">
            <label class="text-sm text-white text-left w-full block mb-1" >Last name</label>
            <input type="text" id="lastName" class="text-white py-2 px-4 border-[1px] border-white bg-transparent rounded-lg w-full placeholder:text-white placeholder:font-light focus:outline-none" placeholder="Last name" required>
          </div>
        </div>
        <div class="flex-1 mt-4">
          <label class="text-sm text-white text-left w-full block mb-1">Email</label>
          <input type="text" pattern="[^\s@]+@[^\s@]+\.[^\s@]+" class="text-white py-2 px-4 border-[1px] border-white bg-transparent rounded-lg w-full placeholder:text-white placeholder:font-light focus:outline-none" id="email" placeholder="Email" required>
        </div>
      </div>
      <div class="g-recaptcha" style="padding-top: 30px;"id="captcha" data-sitekey="6LeZgG4nAAAAAKjFEXGcpRLHyI8rSGf5C56R2EZc"  data-callback="verifyCaptcha"></div>
      <div id="g-recaptcha-error"></div>
      <!-- <a href="/" class="bg-[#DAA520] text-white py-3 w-full block max-w-[90%] mx-auto rounded-lg mt-14 lg:max-w-full" id="openModal">Join waitlist</a> -->
      <button style="width: 100px; height: 50px; margin: 50px 50px 50px 0px; background-color:#DAA520; display: block; color: white; width: 100% ; border-radius: 5px;">Join The WaitList</button>
    </form>
      <p class="text-white mt-4 xl:mt-8">Current Waitlisted Users <span class="bg-gradient-to-br font-medium text-xl xl:text-2xl xl:pl-2 from-white to-gray-600 bg-clip-text text-transparent"><%= users %></span></p>
      <div class="xl:hidden">
        <p class="text-lg text-white text-center mt-8">Follow Us</p>
        <div class="flex mt-4 justify-center gap-x-3 items-center">
          <a href="#">
            <img src="./images/fb.png" alt="" class="w-8 object-contain relative -top-[5px]">
          </a>
          <a href="#">
            <img src="./images/tw.png" alt="" class="w-8 object-contain relative -top-[5px]">
          </a>
          <a href="#">
            <img src="./images/ig.png" alt="" class="w-8 object-contain relative -top-[5px]">
          </a>
          <a href="#">
            <img src="./images/th.png" alt="" class="w-8 object-contain relative -top-[5px]">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden xl:flex items-center justify-center w-full relative top-14">
    <div class="hidden xl:flex py-5 mt-5 w-10/12 border-t-[1px] border-dashed border-gray-700 text-gray-400 items-center justify-between">
      <p class="">Creedlance ltd 2023 All Rights Reserved</p>
      <a href="/about" class="text-[#daa520] underline underline-offset-2">About us</a>
    </div>
    <div class="hidden xl:absolute xl:bottom-[5rem] w-10/12 xl:flex xl:flex-col xl:items-end">
      <!-- <p class="text-lg text-white text-center mt-8 pr-[2.7em]">Follow Us</p> -->
      <div class="flex mt-4 justify-center gap-x-5 items-center">
        <a href="#">
          <img src="./images/fb.png" alt="" class="w-6 object-contain relative -top-[5px]">
        </a>
        <a href="#">
          <img src="./images/tw.png" alt="" class="w-6 object-contain relative -top-[5px]">
        </a>
        <a href="#">
          <img src="./images/ig.png" alt="" class="w-6 object-contain relative -top-[5px]">
        </a>
        <a href="#">
          <img src="./images/th.png" alt="" class="w-6 object-contain relative -top-[5px]">
        </a>
      </div>
    </div>
  </div>
  <div class="fixed z-50 bg-[#000] h-screen w-screen top-[100vh] flex flex-col justify-center gap-y-6 transition duration-200" id="myModal">
    <span style="position: absolute; top: 20px; right: 35px; font-size: 24px; cursor: pointer; color: white;" id="cancelButton" class="close-button">&times;</span>
    <img src="./images/creed.gif" class="h-[50vh] object-contain -mt-[30vh] mx-auto xl:-mt-[15vh] -mb-[170px] lg:-mb-[100px]" />
    <div>
      <h2 class="text-white text-center text-2xl px-4">You have successfully joined for this waitlist</h2>
      <p class="text-white text-center mt-2 xl:text-xl">You are number <span class="text-yellow-500"><%= users +1 %></span> on the waitlist</p>
      <p class="text-white text-center mt-2 xl:text-xl"  style="margin: 0 auto; width: 60%; font-size: 16px !important;color: white;">Hello <span id="modal-firstName"></span> <span id="modal-lastName"></span> you have successfully joined this waitlist. We will give you updates via mail at every step of the way.</p>
      <p class="text-white text-center mt-2 xl:text-xl"  style="margin: 0 auto; width: 60%; font-size: 14px !important;color: white;"> Please do well to take a screenshot of this page and post on any social media you are active on. Also remember to tag us. Thank you 🔥</p>
      <p class="text-white text-center mt-4 xl:text-xl" id="count-down">Redirecting to home page in <span class="text-yellow-500">23</span></p>
    </div>
  </div>
  <script src="/js/app.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script nonce= "= cspNonce"></script>
</body>
</html>

<!-- 6LeZgG4nAAAAAKjFEXGcpRLHyI8rSGf5C56R2EZc -->